@import url("fonts/Overseer Bold.otf");
@import url("fonts/Overseer Bold Italic.otf");
@import url("fonts/Overseer Bold.otf");
@import url("fonts/Overseer Bold Italic.otf");
@import url("fonts/Overseer Bold.otf");
@import url("fonts/Overseer Bold Italic.otf");
@import url("fonts/Overseer Bold.otf");
@import url("fonts/Overseer Bold Italic.otf");
@font-face {
  font-family: "Overseer";
  src: url("fonts/Overseer Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Overseer";
  src: url("fonts/Overseer Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

@font-face {
  font-family: "Overseer";
  src: url("fonts/Overseer Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Overseer";
  src: url("fonts/Overseer Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
:root {
  --primary-color: #ff6400;
  --input-overlay: rgba(0, 0, 0, 0.05);
  --color-border-light-tertiary: #a5a5a5;
  --color-shadow-primary: #ff6400;
  --border-default: 1px solid #525252;
}

.sheet .window-content h1,
.sheet .window-content h2,
.sheet .window-content h3,
.sheet .window-content h4,
.sheet .window-content h5,
.sheet .window-content h6 {
  font-family: Overseer, sans-serif;
  font-style: italic;
  font-weight: 400;
  border: none;
  text-align: center;
}
.sheet .window-content p {
  border: none;
  margin: 0;
}
.sheet .window-content table {
  margin: 0;
  border: none;
  border-spacing: 6px 0;
  border-collapse: separate;
  background: none;
}
.sheet .window-content table thead,
.sheet .window-content table tr {
  background: none;
}

@font-face {
  font-family: "Overseer";
  src: url("fonts/Overseer Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Overseer";
  src: url("fonts/Overseer Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
.large-text {
  font-family: Overseer, sans-serif;
  font-size: 22px;
}

.sheet-column {
  width: 100%;
}
.sheet-column section {
  padding: 4px;
}
.sheet-column:first-child {
  border-right: 1px solid #525252;
}
.sheet-column section:not(:last-child) {
  border-bottom: 1px solid #525252;
}

.undertext {
  position: absolute;
  bottom: -8px;
  right: -1px;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  line-height: 1rem;
  white-space: nowrap;
  color: #000000;
}
.undertext-radio {
  bottom: -8px;
  right: -2px;
}

.vault-boy {
  max-height: 26px;
  max-width: 26px;
}
.vault-boy img {
  border: none;
  max-width: 34px;
  position: relative;
  left: -4px;
  top: -3px;
}

.inline-icon {
  min-width: 26px;
  max-width: 26px;
  width: 26px;
  height: 26px;
  margin-right: 5px;
}
.inline-icon > img {
  border: 0;
}

.data-field {
  position: relative;
  width: 100%;
  min-width: 48px;
  height: var(--form-field-height);
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  color: var(--color-text-dark-primary);
  line-height: var(--form-field-height);
  border-radius: 4px;
}
.data-field .undertext {
  right: -3px;
}

.input-field {
  position: relative;
  width: 100%;
  min-width: 32px;
}

.radio-field {
  position: relative;
}

.rollable, .rollable-d10, .rollable-d100 {
  min-width: 56px !important;
  border: none;
  position: relative;
  transition: all 0.1s ease-in-out;
  transition-property: background-color box-shadow;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 45%, #ff6400 100%) !important;
  cursor: pointer;
}
.rollable:hover, .rollable-d10:hover, .rollable-d100:hover {
  transform: scale(1.04);
  box-shadow: 0 0 4px 1px #ff6400;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 45%, #ff6400 95%, #ff6400 100%);
}
.rollable:active, .rollable-d10:active, .rollable-d100:active {
  transform: scale(0.96);
  box-shadow: 0 0 4px 2px #ff6400;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 40%, #ff6400 90%, #ff6400 100%);
}
.rollable::after, .rollable-d10::after, .rollable-d100::after {
  content: "";
  position: absolute;
  filter: invert(85%);
  background-size: cover;
  width: 20px;
  height: 20px;
  right: 0.2rem;
  top: 0.2rem;
}

.rollable-d100::after {
  background: url("static/d100.svg") no-repeat center center;
}

.rollable-d10::after {
  background: url("static/d10.svg") no-repeat center center;
}

@font-face {
  font-family: "Overseer";
  src: url("fonts/Overseer Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Overseer";
  src: url("fonts/Overseer Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
.character-sheet {
  display: flex;
  flex-direction: row;
  border: 1px solid #525252;
}
.character-sheet .special-and-secondary {
  display: flex;
  flex-direction: row;
}
.character-sheet .special-and-secondary .special {
  flex-grow: 3;
  border-right: 1px solid #525252;
}
.character-sheet .special-and-secondary .secondary {
  flex-grow: 1;
}
.character-sheet .skills .skill-name {
  font-family: Overseer, sans-serif;
  font-size: 19px;
  white-space: nowrap;
}
.character-sheet .bio {
  display: flex;
  flex-direction: column;
}
.character-sheet .bio .token-image {
  max-width: 8rem;
  margin-left: 6px;
  margin-bottom: 2px;
}
.character-sheet .skills-unassigned {
  position: absolute;
  top: 0;
  right: 0;
}
