:root {
  --primary-color: #ff6400;
  --input-overlay: rgba(0, 0, 0, 0.05);
  --color-border-light-tertiary: #a5a5a5;
  --color-shadow-primary: #ff6400;
  --border-default: 1px solid #525252;
}

/* First Aid and Doctor require additional input fields. */
.character-sheet .cell-with-radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-sheet .cell-with-radio div {
  display: flex;
  align-items: center;
}

.character-sheet .cell-with-radio__radio-container {
  position: relative;
}

.character-sheet .left-skills table td p {
  font: 20px 'Overseer';
  white-space: nowrap;
  margin: 0;
}

/* Status */

.character-sheet .span-icon {
  min-width: 26px;
  max-width: 26px;
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

.character-sheet .span-icon img {
  border: 0;
}

/* Enemy sheet */
/*.character-sheet-enemy{}*/
/* TODO: Move enemy CSS to .scss files, using character-sheet as an example */

.character-sheet-enemy .enemy-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.character-sheet-enemy .enemy-image {
  max-width: 186px;
  min-width: 186px;
  height: 186px;
  margin-top: 9px;
}

.character-sheet-enemy .enemy-image img {
  display: block;
}

.character-sheet-enemy .enemy-info .enemy-box,
.character-sheet-enemy .enemy-weapons .enemy-box,
.character-sheet-enemy .enemy-attack .enemy-box {
  position: relative;
  display: flex;
  flex-direction: row;
}

.character-sheet-enemy .span-text {
  font: 22px 'Overseer';
  line-height: 26px;
  margin-right: 5px;
}

.character-sheet-enemy .enemy-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.character-sheet-enemy .enemy-info table table {
  border-spacing: 0;
}

.character-sheet-enemy .enemy-info table table td:first-child {
  padding-right: 3px;
  padding-left: 2px;
}

.character-sheet-enemy .enemy-info table table td:last-child {
  padding-left: 3px;
}

.character-sheet-enemy .enemy-info table thead {
  background: none;
  text-shadow: none;
  border: 0;
  color: #000000;
  font: 20px 'Overseer';
  font-style: italic;
}

.character-sheet-enemy .enemy-info table tr,
.character-sheet-enemy .enemy-attack table tr {
  background: none;
}

.character-sheet-enemy .enemy-stats {
  min-width: 150px;
}

.character-sheet-enemy .enemy-notes textarea {
  resize: none;
}

.character-sheet-enemy .enemy-weapons table {
  border: 0;
  border-spacing: 5px 0;
  border-collapse: separate;
  background: none;
  margin: 0 auto;
}

.character-sheet-enemy .enemy-weapons table tr {
  background: none;
}

.character-sheet-enemy .enemy-title {
  font: 22px 'Overseer';
  font-style: italic;
  margin: 0 auto;
  border: 0;
  padding-top: 10px;
}

.character-sheet-enemy .enemy-attack {
  border-top: 1px solid #555555;
  padding-top: 10px;
  margin-top: 10px;
}

.character-sheet-enemy .enemy-attack:first-child {
  border: 0;
  padding-top: 0;
  margin-top: 0;
}
