<div>
    <h2>Bio</h2>
    <div class="bio-top">
        <table>
            <tr>
                <td>
                    <div class="bio-box">
                        <span class="span-text">Level</span>
                        <input type="text" name="system.general.level" value="{{system.general.level}}">
                    </div>
                </td>
                <td>
                    <div class="bio-box">
                        <span class="span-icon">icon</span>
                        <input type="text" name="system.general.karma" value="{{system.general.karma}}">
                        <span class="bio-box-undertext">Karma</span>
                    </div>
                </td>
                <td>
                    <div class="bio-box">
                        <span class="span-text">EXP</span>
                        <input type="text" name="system.general.experience" value="{{system.general.experience}}">
                        <span class="bio-box-undertext">Current</span>
                    </div>
                </td>
                <td>
                    <div class="bio-box">
                        <span class="span-text">/</span>
                        <input type="text" name="system.general.experienceToLevel" value="{{system.general.experienceToLevel}}">
                        <span class="bio-box-undertext">Level Up</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="bio-bottom">
        <div class="bio-image">
            <img src="{{data.actor.img}}" title="{{data.actor.name}}" data-edit="img">
        </div>
        <div class="bio-list">
            <div class="bio-row">
                <table>
                    <tr>
                        <td>
                            <div class="bio-box">
                                <input type="text" name="system.general.name" value="{{system.general.name}}">
                                <span class="bio-box-undertext">Name</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="bio-row">
                <table>
                    <tr>
                        <td>
                            <div class="bio-box">
                                <select name="system.general.race">
                                    {{selectOptions data.config.races selected=system.general.race nameAttr="key" labelAttr="label"}}
                                </select>
                                <span class="bio-box-undertext">Race</span>
                            </div>
                        </td>
                        <td>
                            <div class="bio-box">
                                <input type="text" name="system.general.gender" value="{{system.general.gender}}">
                                <span class="bio-box-undertext">Gender</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="bio-row">
                <table>
                    <tr>
                        <td>
                            <div class="bio-box">
                                <input type="text" name="system.general.age" value="{{system.general.age}}">
                                <span class="bio-box-undertext">Age</span>
                            </div>
                        </td>
                        <td>
                            <div class="bio-box">
                                <input type="text" name="system.general.height" value="{{system.general.height}}">
                                <span class="bio-box-undertext">Height</span>
                            </div>
                        </td>
                        <td>
                            <div class="bio-box">
                                <input type="text" name="system.general.weight" value="{{system.general.weight}}">
                                <span class="bio-box-undertext">Weight</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="bio-row">
                <table>
                    <tr>
                        <td>
                            <div class="bio-box">
                                <input type="text" name="system.general.skinTone" value="{{system.general.skinTone}}">
                                <span class="bio-box-undertext">Skin Tone</span>
                            </div>
                        </td>
                        <td>
                            <div class="bio-box">
                                <input type="text" name="system.general.hair" value="{{system.general.hair}}">
                                <span class="bio-box-undertext">Hair</span>
                            </div>
                        </td>
                        <td>
                            <div class="bio-box">
                                <input type="text" name="system.general.eyes" value="{{system.general.eyes}}">
                                <span class="bio-box-undertext">Eyes</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
