<h2>Inventory</h2>
<table>
  <tr>
    <td>
      <div class="flex">
        <span class="inline-icon">
          <img src="systems/falloutpnp/static/icons/icon-status-poison-resist.png" alt="Caps" />
        </span>
        <div class="input-field" style="max-width: 80px;">
          <input type="number" name="system.general.caps" value="{{system.general.caps}}" data-dtype="Number" />
          <span class="undertext">Caps</span>
        </div>
      </div>
    </td>
    <td>
      <div class="flex">
        <span class="inline-icon">
          <img src="systems/falloutpnp/static/icons/icon-status-poison-resist.png" alt="Weight" />
        </span>
        <div class="data-field">
          0
          <span class="undertext">Current Weight</span>
        </div>
      </div>
    </td>
    <td title="Formula: ">
      <div class="flex">
        <span class="large-text">/&nbsp;</span>
        <div class="data-field">
          100
          <span class="undertext">Max Weight</span>
        </div>
      </div>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td><p>Item</p></td>
    <td><p>Weight</p></td>
    <td><p>Delete?</p></td>
  </tr>
  <tr>
    <td>
      <div class="input-field">
        <input type="text" name="" value="H&K MP-5" data-dtype="String" />
      </div>
    </td>
    <td style="width: 32px;">
      <div class="input-field">
        <input type="number" name="" value="5" data-dtype="Number" />
      </div>
    </td>
    <td style="width: 8px;">
      <div class="data-field rollable">🚮</div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="data-field rollable" style="text-align: center;"><strong>+</strong></div>
    </td>
  </tr>
</table>
