<div class="skills-info">
    <h2>Skills</h2>
    <div class="skills-list">
        <table>
            <tr>
                <th><p>Tag</p></th>
                <th><p>&nbsp;</p></th>
                <th><p>Skill</p></th>
                <th><p>Base</p></th>
                <th><p>+</p></th>
                <th><p>-</p></th>
                <th><p>+++</p></th>
                <th><p>Total</p></th>
            </tr>
            <tr>
                <td>
                    {{#if system.skills.smallGuns.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.smallGuns.tagged"
                            {{checked system.skills.smallGuns.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.smallGuns.tagged"
                            {{checked system.skills.smallGuns.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Small Guns</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.smallGuns.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.smallGuns.diffPositive" value="{{system.skills.smallGuns.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.smallGuns.diffNegative" value="{{system.skills.smallGuns.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.smallGuns.lvlUp" value="{{system.skills.smallGuns.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.smallGuns.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.bigGuns.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.bigGuns.tagged"
                            {{checked system.skills.bigGuns.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.bigGuns.tagged"
                            {{checked system.skills.bigGuns.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}
                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Big Guns</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.bigGuns.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.bigGuns.diffPositive" value="{{system.skills.bigGuns.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.bigGuns.diffNegative" value="{{system.skills.bigGuns.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.bigGuns.lvlUp" value="{{system.skills.bigGuns.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.bigGuns.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.energyWeapons.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.energyWeapons.tagged"
                            {{checked system.skills.energyWeapons.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.energyWeapons.tagged"
                            {{checked system.skills.energyWeapons.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}
                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Energy Weapons</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.energyWeapons.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.energyWeapons.diffPositive" value="{{system.skills.energyWeapons.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.energyWeapons.diffNegative" value="{{system.skills.energyWeapons.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.energyWeapons.lvlUp" value="{{system.skills.energyWeapons.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.energyWeapons.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.unarmed.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.unarmed.tagged"
                            {{checked system.skills.unarmed.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.unarmed.tagged"
                            {{checked system.skills.unarmed.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Unarmed</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.unarmed.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.unarmed.diffPositive" value="{{system.skills.unarmed.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.unarmed.diffNegative" value="{{system.skills.unarmed.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.unarmed.lvlUp" value="{{system.skills.unarmed.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.unarmed.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.meleeWeapons.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.meleeWeapons.tagged"
                            {{checked system.skills.meleeWeapons.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.meleeWeapons.tagged"
                            {{checked system.skills.meleeWeapons.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Melee Weapons</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.meleeWeapons.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.meleeWeapons.diffPositive" value="{{system.skills.meleeWeapons.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.meleeWeapons.diffNegative" value="{{system.skills.meleeWeapons.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.meleeWeapons.lvlUp" value="{{system.skills.meleeWeapons.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.meleeWeapons.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.throwing.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.throwing.tagged"
                            {{checked system.skills.throwing.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.throwing.tagged"
                            {{checked system.skills.throwing.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Throwing</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.throwing.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.throwing.diffPositive" value="{{system.skills.throwing.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.throwing.diffNegative" value="{{system.skills.throwing.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.throwing.lvlUp" value="{{system.skills.throwing.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.throwing.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.firstAid.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.firstAid.tagged"
                            {{checked system.skills.firstAid.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.firstAid.tagged"
                            {{checked system.skills.firstAid.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>First Aid</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.firstAid.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.firstAid.diffPositive" value="{{system.skills.firstAid.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.firstAid.diffNegative" value="{{system.skills.firstAid.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.firstAid.lvlUp" value="{{system.skills.firstAid.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.firstAid.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.doctor.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.doctor.tagged"
                            {{checked system.skills.doctor.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.doctor.tagged"
                            {{checked system.skills.doctor.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Doctor</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.doctor.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.doctor.diffPositive" value="{{system.skills.doctor.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.doctor.diffNegative" value="{{system.skills.doctor.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.doctor.lvlUp" value="{{system.skills.doctor.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.doctor.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.sneak.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.sneak.tagged"
                            {{checked system.skills.sneak.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.sneak.tagged"
                            {{checked system.skills.sneak.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Sneak</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.sneak.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.sneak.diffPositive" value="{{system.skills.sneak.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.sneak.diffNegative" value="{{system.skills.sneak.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.sneak.lvlUp" value="{{system.skills.sneak.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.sneak.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.lockpick.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.lockpick.tagged"
                            {{checked system.skills.lockpick.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.lockpick.tagged"
                            {{checked system.skills.lockpick.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Lockpick</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.lockpick.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.lockpick.diffPositive" value="{{system.skills.lockpick.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.lockpick.diffNegative" value="{{system.skills.lockpick.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.lockpick.lvlUp" value="{{system.skills.lockpick.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.lockpick.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.steal.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.steal.tagged"
                            {{checked system.skills.steal.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.steal.tagged"
                            {{checked system.skills.steal.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Steal</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.steal.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.steal.diffPositive" value="{{system.skills.steal.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.steal.diffNegative" value="{{system.skills.steal.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.steal.lvlUp" value="{{system.skills.steal.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.steal.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.traps.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.traps.tagged"
                            {{checked system.skills.traps.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.traps.tagged"
                            {{checked system.skills.traps.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Traps</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.traps.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.traps.diffPositive" value="{{system.skills.traps.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.traps.diffNegative" value="{{system.skills.traps.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.traps.lvlUp" value="{{system.skills.traps.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.traps.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.science.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.science.tagged"
                            {{checked system.skills.science.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.science.tagged"
                            {{checked system.skills.science.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Science</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.science.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.science.diffPositive" value="{{system.skills.science.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.science.diffNegative" value="{{system.skills.science.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.science.lvlUp" value="{{system.skills.science.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.science.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.repair.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.repair.tagged"
                            {{checked system.skills.repair.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.repair.tagged"
                            {{checked system.skills.repair.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Repair</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.repair.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.repair.diffPositive" value="{{system.skills.repair.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.repair.diffNegative" value="{{system.skills.repair.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.repair.lvlUp" value="{{system.skills.repair.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.repair.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.pilot.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.pilot.tagged"
                            {{checked system.skills.pilot.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.pilot.tagged"
                            {{checked system.skills.pilot.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Pilot</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.pilot.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.pilot.diffPositive" value="{{system.skills.pilot.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.pilot.diffNegative" value="{{system.skills.pilot.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.pilot.lvlUp" value="{{system.skills.pilot.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.pilot.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.speech.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.speech.tagged"
                            {{checked system.skills.speech.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.speech.tagged"
                            {{checked system.skills.speech.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Speech</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.speech.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.speech.diffPositive" value="{{system.skills.speech.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.speech.diffNegative" value="{{system.skills.speech.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.speech.lvlUp" value="{{system.skills.speech.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.speech.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.barter.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.barter.tagged"
                            {{checked system.skills.barter.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.barter.tagged"
                            {{checked system.skills.barter.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Barter</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.barter.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.barter.diffPositive" value="{{system.skills.barter.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.barter.diffNegative" value="{{system.skills.barter.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.barter.lvlUp" value="{{system.skills.barter.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.barter.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.gambling.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.gambling.tagged"
                            {{checked system.skills.gambling.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.gambling.tagged"
                            {{checked system.skills.gambling.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Gambling</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.gambling.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.gambling.diffPositive" value="{{system.skills.gambling.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.gambling.diffNegative" value="{{system.skills.gambling.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.gambling.lvlUp" value="{{system.skills.gambling.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.gambling.total}}
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    {{#if system.skills.outdoorsman.tagged}}
                    <input
                            type="checkbox"
                            name="system.skills.outdoorsman.tagged"
                            {{checked system.skills.outdoorsman.tagged}}
                    >
                    {{else}}
                    <input
                            type="checkbox"
                            name="system.skills.outdoorsman.tagged"
                            {{checked system.skills.outdoorsman.tagged}}
                            {{disabled this.system.tagged.disabled}}
                    >
                    {{/if}}

                </td>
                <td>
                    icon
                </td>
                <td>
                    <p>Outdoorsman</p>
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.outdoorsman.base}}
                    </div>
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.outdoorsman.diffPositive" value="{{system.skills.outdoorsman.diffPositive}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.outdoorsman.diffNegative" value="{{system.skills.outdoorsman.diffNegative}}">
                </td>
                <td class="skills-cell skills-cell_small">
                    <input type="text" name="system.skills.outdoorsman.lvlUp" value="{{system.skills.outdoorsman.lvlUp}}">
                </td>
                <td>
                    <div class="styled-div_input-like">
                        {{system.skills.outdoorsman.total}}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>