<form class="{{cssClass}} fpnp character sheet" autocomplete="off">
    <div class="left-side">
        {{log data}}
        {{log system}}
        <div class="left-bio">
            {{> "systems/fpnp/templates/partials/actor/bio.html"}}
        </div>
        <div class="left-special">
            {{> "systems/fpnp/templates/partials/actor/special.html"}}
            {{> "systems/fpnp/templates/partials/actor/secondary.html"}}
        </div>
        <div class="left-skills">
            {{> "systems/fpnp/templates/partials/actor/skills.html"}}
        </div>
    </div>
    <div class="right-side">
        <div class="right-status">
            status
        </div>
        <div class="right-armor">
            armor
        </div>
        <div class="right-weapons">
            <div>weapons here</div>
            <section class="weapon-list">
                {{#each weapons as |weapon id|}}
                {{> "systems/fpnp/templates/partials/weapon-card.html" weapon}}
                {{/each}}
            </section>
        </div>
    </div>
</form>
