<form class="{{cssClass}} fpnp character sheet" autocomplete="off">
    <div class="left-side">
        <div class="left-bio">
            {{log data}}
            {{log system}}
           <h2>Bio</h2>
            <div class="bio-top">
                top
            </div>
            <div class="bio-bottom">
                <div class="bio-image">
                    <img src="{{data.actor.img}}" title="{{data.actor.name}}" data-edit="img">
                </div>
                <div class="bio-list">
                    <div class="bio-row">
                        row1
                    </div>
                    <div class="bio-row">
                        row2
                    </div>
                    <div class="bio-row">
                        row3
                    </div>
                    <div class="bio-row">
                        row4
                    </div>
                </div>
            </div>
        </div>
        <div class="left-special">
            <div class="special-info">
                <h2>S.P.E.C.I.A.L.</h2>
                <div class="special-list">
                    <table>
                        <tr>
                            <th><p>Min</p></th>
                            <th><p>Max</p></th>
                            <th><p>Base</p></th>
                            <th><p>+</p></th>
                            <th><p>-</p></th>
                            <th><p>&nbsp;</p></th>
                            <th><p>Total</p></th>
                        </tr>

                        <tr>
                            <td>
                                <div class="styled-div_input-like">
                                    1
                                </div>
                            </td>
                            <td>
                                <input type="text" name="system.special.str.maxValue" value="{{system.special.str.maxValue}}" data-dtype="Number">
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    5
                                </div>
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.str.diffPositive" value="{{system.special.str.diffPositive}}" data-dtype="Number">
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.str.diffNegative" value="{{system.special.str.diffNegative}}" data-dtype="Number">
                            </td>
                            <td>
                                <p>STR</p>
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    {{system.special.str.total}}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="styled-div_input-like">
                                    1
                                </div>
                            </td>
                            <td>
                                <input type="text" name="system.special.per.maxValue" value="{{system.special.per.maxValue}}">
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    5
                                </div>
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.per.diffPositive" value="{{system.special.per.diffPositive}}">
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.per.diffNegative" value="{{system.special.per.diffNegative}}">
                            </td>
                            <td>
                                <p>PE</p>
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    {{system.special.per.total}}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="styled-div_input-like">
                                    1
                                </div>
                            </td>
                            <td>
                                <input type="text" name="system.special.end.maxValue" value="{{system.special.end.maxValue}}">
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    5
                                </div>
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.end.diffPositive" value="{{system.special.end.diffPositive}}">
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.end.diffNegative" value="{{system.special.end.diffNegative}}">
                            </td>
                            <td>
                                <p>EN</p>
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    {{system.special.end.total}}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="styled-div_input-like">
                                    1
                                </div>
                            </td>
                            <td>
                                <input type="text" name="system.special.cha.maxValue" value="{{system.special.cha.maxValue}}">
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    5
                                </div>
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.cha.diffPositive" value="{{system.special.cha.diffPositive}}">
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.cha.diffNegative" value="{{system.special.cha.diffNegative}}">
                            </td>
                            <td>
                                <p>CH</p>
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    {{system.special.cha.total}}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="styled-div_input-like">
                                    1
                                </div>
                            </td>
                            <td>
                                <input type="text" name="system.special.int.maxValue" value="{{system.special.int.maxValue}}">
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    5
                                </div>
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.int.diffPositive" value="{{system.special.int.diffPositive}}">
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.int.diffNegative" value="{{system.special.int.diffNegative}}">
                            </td>
                            <td>
                                <p>IN</p>
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    {{system.special.int.total}}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="styled-div_input-like">
                                    1
                                </div>
                            </td>
                            <td>
                                <input type="text" name="system.special.agi.maxValue" value="{{system.special.agi.maxValue}}">
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    5
                                </div>
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.agi.diffPositive" value="{{system.special.agi.diffPositive}}">
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.agi.diffNegative" value="{{system.special.agi.diffNegative}}">
                            </td>
                            <td>
                                <p>AG</p>
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    {{system.special.agi.total}}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="styled-div_input-like">
                                    1
                                </div>
                            </td>
                            <td>
                                <input type="text" name="system.special.luc.maxValue" value="{{system.special.luc.maxValue}}">
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    5
                                </div>
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.luc.diffPositive" value="{{system.special.luc.diffPositive}}">
                            </td>
                            <td class="special-cell special-cell_small">
                                <input type="text" name="system.special.luc.diffNegative" value="{{system.special.luc.diffNegative}}">
                            </td>
                            <td>
                                <p>LK</p>
                            </td>
                            <td>
                                <div class="styled-div_input-like">
                                    {{system.special.luc.total}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="secondary-info">
                <h2>Secondary</h2>
                <div class="secondary-list">
                    <table>
                        <tr>
                            <th><p>&nbsp;</p></th>
                        </tr>
                        <tr>
                            <td>
                                <div class="secondary-box">
                                    <div class="styled-div_input-like">
                                        {{system.meleeDamage}}
                                    </div>
                                    <span>Melee dmg</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="secondary-box">
                                    <div class="styled-div_input-like">
                                        {{system.sequence}}
                                    </div>
                                    <span>Sequence</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="secondary-box">
                                    <div class="styled-div_input-like">
                                        {{system.healingRate}}
                                    </div>
                                    <span>Healing rate</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="secondary-box">
                                    <div class="styled-div_input-like">
                                        {{system.hpPerLevel}}
                                    </div>
                                    <span>Hit points / level</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="secondary-box">
                                    <div class="styled-div_input-like">
                                        {{system.spPerLevel}}
                                    </div>
                                    <span>Skill points / level</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="secondary-box">
                                    <div class="styled-div_input-like">
                                        {{system.actionPoints}}
                                    </div>
                                    <span>Action Points</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="secondary-box">
                                    {{system.special.luc.total}}
                                    <span>Critical Chance</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="left-skills">
            <div class="skills-info">
                <h2>Skills</h2>
                <div class="skills-list">
                    <table>
                        <tr>
                            <th><p>Tag</p></th>
                            <th><p>&nbsp;</p></th>
                            <th><p>Skill</p></th>
                            <th><p>Base</p></th>
                            <th><p>+</p></th>
                            <th><p>-</p></th>
                            <th><p>+++</p></th>
                            <th><p>Total</p></th>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="tag">
                            </td>
                            <td>
                                icon
                            </td>
                            <td>
                                <p>Small Guns</p>
                            </td>
                            <td>
                                <input type="text" name="skills.smallGuns.value" value="">
                            </td>
                            <td class="skills-cell skills-cell_small">
                                <input type="text" name="skills.smallGuns.diffPositive" value="">
                            </td>
                            <td class="skills-cell skills-cell_small">
                                <input type="text" name="skills.smallGuns.diffNegative" value="">
                            </td>
                            <td class="skills-cell skills-cell_small">
                                <input type="text" name="skills.smallGuns.upping" value="">
                            </td>
                            <td>
                                <input type="text" name="skills.smallGuns.total" value="">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="right-status">
            status
        </div>
        <div class="right-armor">
            armor
        </div>
        <div class="right-weapons">
            <div>weapons here</div>
            <section class="weapon-list">
                {{#each weapons as |weapon id|}}
                {{> "systems/fpnp/templates/partials/weapon-card.html" weapon}}
                {{/each}}
            </section>
        </div>
    </div>
</form>